<div class="container" id="landing-page-devise">
  <div class="row featured-boxes login justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="border-form-div">
        <header>
          <h1>Log in</h1>
        </header>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group float-label-control">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

            <div class="form-group float-label-control">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
