<div class="navbar navbar-default " role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <% if current_page?(root_path) ||
          current_page?(new_user_registration_path) ||
          current_page?(new_user_session_path) ||
          current_page?(new_user_confirmation_path) ||
          current_page?(new_user_password_path)
      %>
        <%= link_to 'Prestatario', root_path, class: 'navbar-brand scrollTo', id: 'navbar-brand' %>
      <% end %>
      <% if current_page?(dashboard_path) ||
          current_page?(borrowed_path) ||
          current_page?(lent_path) ||
          current_page?(search_path) ||
          current_page?(tools_ng_path) ||
          current_page?(messages_path) ||
          current_page?(edit_user_registration_path)
      %>
        <%= link_to 'Prestatario', dashboard_path, class: 'navbar-brand scrollTo', id: 'navbar-brand' %>
      <% end %>
    </div>

    <div class="navbar-collapse collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if current_page?(root_path) %>
          <li><a href="#section1">Why Prestatario</a>
          </li>
          <li><a href="#section2">About us</a>
          </li>
          <li><a href="#section3">Contact</a>
          </li>
        <% end %>
        <% if current_page?(root_path) ||
            current_page?(new_user_registration_path) ||
            current_page?(new_user_session_path) ||
            current_page?(new_user_confirmation_path) ||
            current_page?(new_user_password_path)
        %>
          <li><%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li><%= link_to "Log In", new_user_session_path %>
          </li>
        <% end %>
        <% if current_page?(dashboard_path) ||
            current_page?(borrowed_path) ||
            current_page?(lent_path) ||
            current_page?(search_path) ||
            current_page?(tools_ng_path) ||
            current_page?(messages_path) ||
            current_page?(edit_user_registration_path)
        %>
          <li>
            <%= link_to "Account", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :get %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




