<div id="sidebar">
  <div class="list-group">
    <%= link_to "Dashboard", dashboard_path, class: "list-group-item"%>
    <%= link_to "Borrowed", borrowed_path, class: "list-group-item" %>
    <%= link_to "Lent", lent_path, class: "list-group-item" %>
    <%= link_to "Search", search_path, class: "list-group-item" %>
    <%= link_to "Tools", tools_path, class: "list-group-item" %>
    <%= link_to "Messages", messages_path, class: "list-group-item" %>
  </div>
</div>