<!DOCTYPE html>
<html>
  <head>
    <title>Prestatario</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900" rel="stylesheet">
    <% if @base_url %>
      <base href="<%= @base_url %>">
    <% end %>
  </head>

  <body id="main-content-body">

    <% if alert.present? %>
      <div class="alert alert-danger" id="alert-danger">
        <a href = "#" class = "close" data-dismiss = "alert">
          &times;
        </a>
        <%= alert %>
      </div>
    <% end %>

    <%= render "header" %>

    <div id="main-container" class="container-fluid clearfix">
      <div class="row">
        <div  class="col-md-2 pull-left" >
          <%= render "sidebar" %>
        </div>

        <div class="col-md-10 pull-right">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "footer" %>

  </body>
</html>
